.permissions-section {
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 10px;

  white-space: pre-wrap;
}

.RoleTitle{
  font-weight: 500; 
  margin-bottom: 0;
  color: var(--primary);
}