
@import './Varibils.scss';
@import './Mixing.scss';
@import './App.scss';
@import '../Layout/Header.scss';
@import '../Layout/Layout.scss';
@import '../Layout/SideBar.scss';
@import '../Auth/Auth.scss';
@import '../Layout/Table.scss';

@import '../component/printButton.scss';
@import '../component/DarkStyle.scss';
@import '../component/ErrorPage.scss';
@import '../component/SingleDriverInfo.scss';
@import '../component/DriverInfoSocket.scss';
@import '../component/radio.scss';





