.error_show{
    display: flex;justify-content: center;align-items: center; flex-direction: column;
    // background: #000;
    height: 40vh;
    .error_icon{
        text-align: center;
        color: var(--secondary);
        font-size: 7vw;
    }
    .error_text{
        text-align: center;
        color: var(--primary);
        font-size: 4vw;
    }
}

.socket_debug_error{
    font-size: 30px ;
    font-weight: 600;
    color: var(--secondary);
}